In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/SCMS_Datasets.csv')

In [3]:
df.head()

,Unnamed: 0,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Freight_Cost_USD,Product_Insurance_USD
0,0,Rwanda,Air,100,0.01,99.0,0.75,0.02
1,1,Vietnam,Air,60,7.00,148.0,14.36,5.49
2,2,Vietnam,Air,30,23.26,55.0,17.72,10.73
3,3,Côte d'Ivoire,Truck,30,13.52,7.0,22.29,0.99
4,4,Burundi,Air,60,6.52,186.0,29.21,6.37

In [4]:
df.drop(columns='Unnamed: 0')

,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Freight_Cost_USD,Product_Insurance_USD
0,Rwanda,Air,100,0.01,99.0,0.75,0.02
1,Vietnam,Air,60,7.00,148.0,14.36,5.49
2,Vietnam,Air,30,23.26,55.0,17.72,10.73
3,Côte d'Ivoire,Truck,30,13.52,7.0,22.29,0.99
4,Burundi,Air,60,6.52,186.0,29.21,6.37
...,...,...,...,...,...,...,...
5851,Haiti,Air,30,3.33,16035.0,161712.87,164.50
5852,Ethiopia,Air,1,24.50,17367.0,161962.32,858.86
5853,Nigeria,Air Charter,60,7.72,87076.0,194623.44,2541.95
5854,Kenya,Air,1,30.00,18580.0,241407.27,742.20
5855,Rwanda,Air,1,24.50,18667.0,289653.20,848.58

In [5]:
df.isna().sum()

Unnamed: 0               0
Country                  0
Shipment Mode            0
Qauntity_of_pack         0
Pack Price               0
Weight (Kilograms)       0
Freight_Cost_USD         0
Product_Insurance_USD    0
dtype: int64

In [10]:
df

,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Freight_Cost_USD,Product_Insurance_USD
0,Rwanda,Air,100,0.01,99.0,0.75,0.02
1,Vietnam,Air,60,7.00,148.0,14.36,5.49
2,Vietnam,Air,30,23.26,55.0,17.72,10.73
3,Côte d'Ivoire,Truck,30,13.52,7.0,22.29,0.99
4,Burundi,Air,60,6.52,186.0,29.21,6.37
...,...,...,...,...,...,...,...
5851,Haiti,Air,30,3.33,16035.0,161712.87,164.50
5852,Ethiopia,Air,1,24.50,17367.0,161962.32,858.86
5853,Nigeria,Air Charter,60,7.72,87076.0,194623.44,2541.95
5854,Kenya,Air,1,30.00,18580.0,241407.27,742.20
5855,Rwanda,Air,1,24.50,18667.0,289653.20,848.58

In [11]:
X=df.drop(labels=['Freight_Cost_USD'],axis=1)
y=df['Freight_Cost_USD']

In [12]:
X

,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Product_Insurance_USD
0,Rwanda,Air,100,0.01,99.0,0.02
1,Vietnam,Air,60,7.00,148.0,5.49
2,Vietnam,Air,30,23.26,55.0,10.73
3,Côte d'Ivoire,Truck,30,13.52,7.0,0.99
4,Burundi,Air,60,6.52,186.0,6.37
...,...,...,...,...,...,...
5851,Haiti,Air,30,3.33,16035.0,164.50
5852,Ethiopia,Air,1,24.50,17367.0,858.86
5853,Nigeria,Air Charter,60,7.72,87076.0,2541.95
5854,Kenya,Air,1,30.00,18580.0,742.20
5855,Rwanda,Air,1,24.50,18667.0,848.58

In [13]:
y

0            0.75
1           14.36
2           17.72
3           22.29
4           29.21
          ...
5851    161712.87
5852    161962.32
5853    194623.44
5854    241407.27
5855    289653.20
Name: Freight_Cost_USD, Length: 5856, dtype: float64

In [71]:
categorical_columns= X.select_dtypes(include='object').columns
numerical_columns= X.select_dtypes(exclude='object').columns

In [72]:
categorical_columns

Index(['Country', 'Shipment Mode'], dtype='object')

In [73]:
df['Country'].unique()

array(['Rwanda', 'Vietnam', "Côte d'Ivoire", 'Burundi', 'Mozambique',
       'Uganda', 'Zambia', 'Namibia', 'Congo, DRC', 'Kenya', 'Zimbabwe',
       'Ethiopia', 'Guyana', 'Nigeria', 'Sudan', 'South Africa',
       'Guatemala', 'Ghana', 'Haiti', 'Botswana', 'Pakistan',
       'Dominican Republic', 'Liberia', 'Swaziland', 'Afghanistan',
       'Cameroon', 'Malawi', 'Lesotho', 'Senegal', 'Tanzania',
       'South Sudan', 'Libya', 'Mali', 'Angola', 'Benin', 'Guinea',
       'Togo', 'Sierra Leone'], dtype=object)

In [74]:
df['Shipment Mode'].unique()

array(['Air', 'Truck', 'Air Charter', 'Ocean'], dtype=object)

In [75]:
country_categories= ['Rwanda', 'Vietnam', 'Côte dIvoire', 'Burundi', 'Mozambique','Uganda', 'Zambia', 'Namibia', 'Congo', 'DRC', 'Kenya', 'Zimbabwe',
       'Ethiopia', 'Guyana', 'Nigeria', 'Sudan', 'South Africa','Guatemala', 'Ghana', 'Haiti', 'Botswana', 'Pakistan',
       'Dominican Republic', 'Liberia', 'Swaziland', 'Afghanistan','Cameroon', 'Malawi', 'Lesotho', 'Senegal', 'Tanzania',
       'South Sudan', 'Libya', 'Mali', 'Angola', 'Benin', 'Guinea','Togo', 'Sierra Leone']

In [76]:
Shipment_categories=['Air', 'Truck', 'Air Charter', 'Ocean']

In [77]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [83]:
numerical_pipeline= Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)

categorical_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('Ordinalencoder',OrdinalEncoder(categories=[country_categories,Shipment_categories],handle_unknown='use_encoded_value',unknown_value=-1)),
        ('scaler',StandardScaler())
    ]
)

preprocessor=ColumnTransformer([
    ('numerical_pipeline',numerical_pipeline,numerical_columns),
    ('categorical_pipeline',categorical_pipeline,categorical_columns)
])

In [84]:
#TRain Test Split

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)

In [87]:
preprocessor.fit_transform(X_train)

array([[-0.58549207, -0.30530358, -0.2622123 , -0.24497861, -0.66732832,
         0.59803874],
       [-0.95344942,  0.01211954, -0.06859741, -0.34303418, -1.10388879,
        -0.60360871],
       [ 2.07902664, -0.1919075 , -0.43709468, -0.51702356, -1.21302891,
        -0.60360871],
       ...,
       [-0.71237392,  0.17319352, -0.090885  ,  0.37184352, -0.44904808,
        -0.60360871],
       [ 0.55644452, -0.10814903,  0.06731587,  0.13351478,  0.42407286,
         1.79968619],
       [ 2.84031771,  0.36862995, -0.44707624, -0.52992037, -0.66732832,
        -0.60360871]])

In [89]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),
                     columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),
                    columns=preprocessor.get_feature_names_out())

In [90]:
X_train.head()

,numerical_pipeline__Qauntity_of_pack,numerical_pipeline__Pack Price,numerical_pipeline__Weight (Kilograms),numerical_pipeline__Product_Insurance_USD,categorical_pipeline__Country,categorical_pipeline__Shipment Mode
0,-0.585492,-0.305304,-0.262212,-0.244979,-0.667328,0.598039
1,-0.953449,0.012120,-0.068597,-0.343034,-1.103889,-0.603609
2,2.079027,-0.191907,-0.437095,-0.517024,-1.213029,-0.603609
3,-0.953449,-0.020095,0.237139,0.034880,0.205793,-0.603609
4,-0.585492,-0.299290,0.114762,1.238299,0.424073,1.799686

In [91]:
#Model_Training

In [92]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [93]:
regression= LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [94]:
regression.coef_

array([ -312.99080371,   385.74070887,  6181.95914367,  2780.62924774,
         799.58649092, -1072.30082091])

In [95]:
regression.intercept_

11479.064488899732

In [96]:
import numpy as np

In [97]:
def evaluate_models(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_sqaure=r2_score(true,predicted)
    return mae,mse,rmse,r2_sqaure

In [98]:
##Train multiple Models

models={
    'LinearRegression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge':Ridge(),
    'Elasticnet': ElasticNet()
}

model_list= []
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    y_pred = model.predict(X_test)

    mae,mse,rmse,r2_square = evaluate_models(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print("Model training Performance")
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("MSE:",mse)
    print('R2-Score:', r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

LinearRegression
Model training Performance
RMSE: 13248.714720357118
MAE: 8245.465456782986
MSE: 175528441.74140742
R2-Score: 22.563501075720914
===================================


Lasso
Model training Performance
RMSE: 13248.588416227829
MAE: 8245.449646471756
MSE: 175525095.02260622
R2-Score: 22.56497752127172
===================================


Ridge
Model training Performance
RMSE: 13248.722864866462
MAE: 8245.52420612579
MSE: 175528657.55003542
R2-Score: 22.56340586912975
===================================


Elasticnet
Model training Performance
RMSE: 13368.100439496005
MAE: 8420.671493157739
MSE: 178706109.36045328
R2-Score: 21.161634502288486
===================================