In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data/SCMS_Datasets.csv')

In [4]:
df.head()

,Unnamed: 0,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Freight_Cost_USD,Product_Insurance_USD
0,0,Rwanda,Air,100,0.01,99.0,0.75,0.02
1,1,Vietnam,Air,60,7.00,148.0,14.36,5.49
2,2,Vietnam,Air,30,23.26,55.0,17.72,10.73
3,3,Côte d'Ivoire,Truck,30,13.52,7.0,22.29,0.99
4,4,Burundi,Air,60,6.52,186.0,29.21,6.37

In [5]:
df.drop(columns='Unnamed: 0')

,Country,Shipment Mode,Qauntity_of_pack,Pack Price,Weight (Kilograms),Freight_Cost_USD,Product_Insurance_USD
0,Rwanda,Air,100,0.01,99.0,0.75,0.02
1,Vietnam,Air,60,7.00,148.0,14.36,5.49
2,Vietnam,Air,30,23.26,55.0,17.72,10.73
3,Côte d'Ivoire,Truck,30,13.52,7.0,22.29,0.99
4,Burundi,Air,60,6.52,186.0,29.21,6.37
...,...,...,...,...,...,...,...
5851,Haiti,Air,30,3.33,16035.0,161712.87,164.50
5852,Ethiopia,Air,1,24.50,17367.0,161962.32,858.86
5853,Nigeria,Air Charter,60,7.72,87076.0,194623.44,2541.95
5854,Kenya,Air,1,30.00,18580.0,241407.27,742.20
5855,Rwanda,Air,1,24.50,18667.0,289653.20,848.58

In [6]:
df.isna().sum()

Unnamed: 0               0
Country                  0
Shipment Mode            0
Qauntity_of_pack         0
Pack Price               0
Weight (Kilograms)       0
Freight_Cost_USD         0
Product_Insurance_USD    0
dtype: int64